@model IEnumerable<POWStudio.Models.GameCategory>

@{
    ViewData["Title"] = "— Admin";
}

<div class="content-card">
    <div class="center-content-wrapper">
        <h1 class="mt-4">Admin Page tạo bởi Vyes</h1>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gameCategory in Model)
    {
        <tr>
            <th scope="row">@gameCategory.Game.Id</th>
            <td>@gameCategory.Game.Title</td>
            <td>@gameCategory.Category.Name</td>
            <td>
                <a class="button" asp-controller="Game" asp-action="EditGame" asp-route-id="@gameCategory.Game.Id">Sua</a>
            </td>
            <td>
                <a class="button" asp-controller="Game" asp-action="DeleteGame" asp-route-id="@gameCategory.Game.Id">Xoa</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="content-card">
    <a class="button" asp-controller="Game" asp-action="AddGame">Thêm game mới</a>
    <a class="button" asp-controller="Game" asp-action="AddCategory">Them the loai</a>
</div>